---
http_interactions:
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?idsSituacoes%5B%5D=24&limite=100&pagina=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":18916787643,"numero":30551,"numeroLoja":"GSHNSE64R00NVU8","data":"2023-10-10","dataSaida":"2023-10-10","dataPrevista":"0000-00-00","totalProdutos":40.7,"total":40.7,"contato":{"id":16364551442,"nome":"Louren\u00e7a
        Moura","tipoPessoa":"F","numeroDocumento":"703.817.116-09"},"situacao":{"id":24,"valor":11},"loja":{"id":204219105}},{"id":18916787481,"numero":30550,"numeroLoja":"GSHNSE47R001YM0","data":"2023-10-10","dataSaida":"2023-10-10","dataPrevista":"0000-00-00","totalProdutos":40.7,"total":40.7,"contato":{"id":16364551410,"nome":"L\u00edvia
        Vit\u00f3ria","tipoPessoa":"F","numeroDocumento":"021.472.246-50"},"situacao":{"id":24,"valor":11},"loja":{"id":204219105}},{"id":18916556903,"numero":30544,"numeroLoja":"GSHNSJ572000DFH","data":"2023-10-10","dataSaida":"2023-10-10","dataPrevista":"0000-00[...]
[...]
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas/18916787643
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":18916787643,"numero":30551,"numeroLoja":"GSHNSE64R00NVU8","data":"2023-10-10","dataSaida":"2023-10-10","dataPrevista":"0000-00-00","totalProdutos":40.7,"total":40.7,"contato":{"id":16364551442,"nome":"Louren\u00e7a
        Moura","tipoPessoa":"F","numeroDocumento":"703.817.116-09"},"situacao":{"id":24,"valor":11},"loja":{"id":204219105},"numeroPedidoCompra":"","outrasDespesas":0,"observacoes":"","observacoesInternas":"","desconto":{"valor":0,"unidade":"REAL"},"categoria":{"id":0},"notaFiscal":{"id":18916881859},"tributacao":{"totalICMS":0,"totalIPI":0},"itens":[{"id":16213685495,"codigo":"VEST-LONG-TOP-SAI-FEND-NUDE-P","unidade":"1","quantidade":1,"desconto":0,"valor":40.7,"aliquotaIPI":0,"descricao":"Vestido
        LONGO top + saia fenda Cor:Nude;Tamanho:P","descricaoDetalhada":"","produto":{"id":16098394425},"comissao":{"base":40.7,"aliquota":0,"valor":0}}],"parcelas":[{"id":16421210610,"dataVencimento":"2023-11-09","valor":40.7,"observacoes":"","formaPagamento":{"id":1135275}}],"transporte":{"fretePorConta":0,"frete":0,"quantidadeVolumes":0,"pesoBruto":0,"prazoEntrega":0,"contato":{"id":0,"nome":""},"etiqueta":{"nome":"Louren\u00e7a
        Moura","endereco":"Rua baldin","numero":"811 bloco3","complemento":"","municipio":"Santa
        Luzia","uf":"MG","cep":"33030340","bairro":"Rio das Velhas","nomePais":""},"volumes":[]},"vendedor":{"id":0},"intermediador":{"cnpj":"","nomeUsuario":""}}}'
  recorded_at: Tue, 10 Oct 2023 20:19:07 GMT
[...]
