---
http_interactions:
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas?idsSituacoes%5B%5D=15&limite=100&pagina=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":18921442255,"numero":30711,"numeroLoja":"GSHNSP57M00MV92","data":"2023-10-10","dataSaida":"2023-10-10","dataPrevista":"0000-00-00","totalProdutos":40.7,"total":40.7,"contato":{"id":16365765331,"nome":"Emilly
        Ara\u00fajo","tipoPessoa":"F","numeroDocumento":"131.069.894-59"},"situacao":{"id":15,"valor":3},"loja":{"id":204219105}},{"id":18921442157,"numero":30710,"numeroLoja":"GSHNSP41N00M6NQ","data":"2023-10-10","dataSaida":"2023-10-10","dataPrevista":"0000-00-00","totalProdutos":40.7,"total":40.7,"contato":{"id":16365765312,"nome":"Sabrina
        Eugenia","tipoPessoa":"F","numeroDocumento":"180.036.814-30"},"situacao":{"id":15,"valor":3},"loja":{"id":204219105}},{"id":18921442043,"numero":30709,"numeroLoja":"GSHNSP26N001AGU","data":"2023-10-10","dataSaida":"2023-10-10","dataPrevista":"0000-00-00","tot[...]
[...]
- request:
    method: get
    uri: https://www.bling.com.br/Api/v3/pedidos/vendas/18921442255
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['ACCESS_TOKEN'] %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":18921442255,"numero":30711,"numeroLoja":"GSHNSP57M00MV92","data":"2023-10-10","dataSaida":"2023-10-10","dataPrevista":"0000-00-00","totalProdutos":40.7,"total":40.7,"contato":{"id":16365765331,"nome":"Emilly
        Ara\u00fajo","tipoPessoa":"F","numeroDocumento":"131.069.894-59"},"situacao":{"id":15,"valor":3},"loja":{"id":204219105},"numeroPedidoCompra":"","outrasDespesas":0,"observacoes":"","observacoesInternas":"","desconto":{"valor":0,"unidade":"REAL"},"categoria":{"id":0},"notaFiscal":{"id":0},"tributacao":{"totalICMS":0,"totalIPI":0},"itens":[{"id":16215895006,"codigo":"VEST-LONG-TOP-SAI-FEND-VERMELHO-M","unidade":"1","quantidade":1,"desconto":0,"valor":40.7,"aliquotaIPI":0,"descricao":"Vestido
        LONGO top + saia fenda Cor:Vermelho;Tamanho:M","descricaoDetalhada":"","produto":{"id":15973680265},"comissao":{"base":40.7,"aliquota":0,"valor":0}}],"parcelas":[{"id":16423292454,"dataVencimento":"2023-11-09","valor":40.7,"observacoes":"","formaPagamento":{"id":1135275}}],"transporte":{"fretePorConta":0,"frete":0,"quantidadeVolumes":0,"pesoBruto":0,"prazoEntrega":0,"contato":{"id":0,"nome":""},"etiqueta":{"nome":"Emilly
        Ara\u00fajo","endereco":"Rua alto da bela vista","numero":"134","complemento":"","municipio":"Taipu","uf":"RN","cep":"59565000","bairro":"Centro","nomePais":""},"volumes":[]},"vendedor":{"id":0},"intermediador":{"cnpj":"","nomeUsuario":""}}}'
  recorded_at: Tue, 10 Oct 2023 18:23:00 GMT
[...]
